<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551333187612-dbt2688sctbg63ck5osc36al11t32l9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551333187612-dbt2688sctbg63ck5osc36al11t32l9s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>551333187612-gthgv4h0slgqopjo4832o4huuiabgvf3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAguKj4drHFm-NgUP48H6z9ubFFFNP-XSk</string>
	<key>GCM_SENDER_ID</key>
	<string>551333187612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.bumnag.wisata.stg</string>
	<key>PROJECT_ID</key>
	<string>wisata-bumnag-stag</string>
	<key>STORAGE_BUCKET</key>
	<string>wisata-bumnag-stag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551333187612:ios:b7ee8af8649cbc88f78fd9</string>
</dict>
</plist>